<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimientos</title>
    <link rel="stylesheet" href="../../homebanking/static/styles.css">
</head>
<style>

    h2 {
        margin-bottom: 20px;
        text-align: center;
    }

    table {
        width: 60%;
        border-collapse: collapse;
        margin: 20px auto;

    }

    th,
    td {
        border: 1px solid #c4c1c1;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f6e6e6;
    }

    .ingreso {
        color: green;
    }

    .transferencia {
        color: blue;
    }

    .compra {
        color: blueviolet;
    }
</style>

<body>
    <header>
        <h1>Banco</h1>
    </header>

    <nav>
        <a href="">tarjetas</a>
        <a href="">mi cuenta</a>
        <a href="">movimientos</a>
    </nav>


    <h2>Movimientos</h2>

    <table>
        <tr>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Movimiento</th>
        </tr>
        {% for movimiento in movimientos %}
        <tr>
            <td>{{ movimiento.fecha_hora }}</td>
            <td>${{ movimiento.monto }}</td>
            <td class="{{ movimiento.tipo }}">{{ movimiento.get_tipo_display }}</td>
        </tr>
        {% endfor %}
    </table>

    <footer>
        <p style="margin: 0;">&copy; 2023 Banco Profesional. Todos los derechos reservados.</p>
    </footer>

</body>

</html>