<head>
  <link rel="stylesheet" href="../../homebanking/static/styles.css">
</head>
{% block content %}
  <h2>Iniciar Sesión</h2>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    
    <div>
      <label for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
      {{ form.username }}
      {% if form.username.errors %}
        <p style="color: red;">{{ form.username.errors|striptags }}</p>
      {% endif %}
    </div>

    <div>
      <label for="{{ form.password.id_for_label }}">Contraseña:</label>
      {{ form.password }}
      {% if form.password.errors %}
        <p style="color: red;">{{ form.password.errors|striptags }}</p>
      {% endif %}
    </div>
    {% if form.errors %}
        <p style="color: red;">Error en el formulario. Por favor, verifica tus credenciales.</p>
    {% endif %}

    <button type="submit">Iniciar Sesión</button>
  </form>
  <p>¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate aquí</a>.</p>
{% endblock %}
